 <% @comments.each do |c| %>
   <style>
       p  {
           font-family: verdana;
           font-size: 100%;
       }
   </style>
   <hr>
   <p>
     <%= c.comment %>
   - Commented by <%= c.user.name %>
     <% if user_signed_in? && (current_user == @event.user || current_user.admin?) %>
     <%= link_to "Delete Comment", event_comment_path(c.event_id,c.id), method: :delete ,class:"btn btn-danger"  %>
       <%= link_to "Edit Comment", edit_event_comment_path(c.event_id,c.id),class:"btn btn-primary"  %>
   </p>
       <% end %>

 <% end %>